<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript">
    </script>
</head>

<body>
    <div class="container"></div>
    <div id="map" style="width: 100vw; height: 100vh"></div>

</body>

</html>