@import "normalize.css";

* {
    font-family: sans-serif;
}
.container {
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    width: 380px;
    background: #ffffff;    
}
.popup__hedr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 13px;    
    box-sizing: border-box;
    background-color: #ff8663;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    font-size: 13px;
}
.close-wrap {
    width: 15px;
    height: 15px;
}
.popup__close {
    position: absolute;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.popup__close:before,
.popup__close:after {
    content: " ";
    position: absolute;
    left: 6px;    
    height: 15px;
    width: 4px;
    background-color: #ffffff;
}
.popup__close:before {
    transform: rotate(45deg);
}
.popup__close:after {
    transform: rotate(-45deg);
}
.popup__comments {
    height: 155px;
    padding: 16px 13px;
    overflow-y: auto;
    border-bottom: 1px solid #f0f0f0;
    p {
        margin: 0px;
    }
}
.review {
    padding: 10px;
}
.review__title {
    color: #ff8663;
}
.review__field-wrap {
    display: flex;
    flex-direction: column;
}
.review__field-wrap {
    input,
    textarea {
        height: 35px;
        padding: 10px 15px;
        box-sizing: border-box;
        margin: 10px 0;
        border-radius: 17px;        
        font-size: 13px;
        border: 1px solid #acacac;
    }
    textarea {
        min-height: 130px;
        resize: none;
    }
}
.button {
    display: flex;
    justify-content: flex-end;
}
.button-popup {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #ff8663;
    color: white;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px #ff8663;
    }
    &:active {
        box-shadow: 0 0 20px #ff8663;
    }
}

.coment {
    margin-bottom: 25px;
    font-size: 13px;
}
.coment__heder {
    display: flex;
}
.coment__uesr-name {
    font-weight: bold;
    color: #4f4f4f;
}
.coment__place {
    margin-left: 10px;
    color: #7b7b7b;
}
.coment__date {
    margin-left: 10px;
    color: #7b7b7b;

}
.cometn__text {
    margin-top: 10px;
    color: #4f4f4f;
}

.ballon__info {
    font-size: 13px;
}
.ballon__place {
    font-weight: bold;
}
.ballon__address {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin: 10px 0;
}
.ballon__date {
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #b4b4b4;
    font-size: 13px;    
}
