<div class="container-coments">
    {{#each items}}
    <div class="coment">
        <div class="coment__heder">
            <div class="coment__uesr-name">{{username}}</div>
            <div class="coment__place">{{place}}</div>
            <div class="coment__date">{{date}}</div>
        </div>
        <div class="cometn__text">{{text}}</div>
    </div>
    {{/each}}
</div>