<div class="popup">
    <div class="popup__hedr">
        <div class="popup__address">{{address}}</div>
        <div class="popup__close"></div>
    </div>
    <div class="popup__comments">
        <p>Отзывов пока нет...</p>

    </div>
    <div class="review">
        <div class="review__title">Ваш отзыв</div>
        <div class="review__inner">
            <div class="review__field-wrap">
                <input class="input-username" type="text" name="name" placeholder="Ваше имя">
                <input class="input-place" type="text" name="place" placeholder="Укажите место">
                <textarea class="text-coment" name="content" placeholder="Поделитесь впечатлениями"></textarea>
            </div>
            <div class="button">
                <button class="button-popup" type="button">Добавить</button>
            </div>
        </div>
    </div>
</div>